<!DOCTYPE html>
<html>
  <head>
    <title>Montenegro API - Free Postcode Validation Service</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- JavaScript and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  </head>

  <body id="montenegro_api" class="">
    <%= render "shared/navbar" %>
    
    <div id="content" class="container">
        <%= yield %>
    </div>
    
    <footer class="container-fluid bg-light text-center mt-5 p-2">
      <p class="font-weight-light text-muted mt-2">
        Brought you by <a href="https://rubydroids.com" class="text-reset">RubyDroids Co</a>. Star this project at 
        <a href="#" class=text-reset>
          Github
          <i class="fab fa-github ml-1"></i>
        </a>
      </p>
    </footer>
  </body>
</html>
